{% extends 'base.html' %}

{% block header %}
<h1>Contact Manager</h1>
{% endblock %}

{% block content %}
{% if contacts %}
<div class="mt-4 mb-4">
  <a href="{% url 'add' %}" class="btn btn-primary p-20">&plus; Add</a>
</div>
<hr class="text-secondary border border-secondary border-1">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.first_name }}</td>
      <td>{{ contact.last_name }}</td>
      <td>
        <div class="d-flex justify-content-end gap-2">
          <a href="{% url 'contact' contact.id %}" class="btn btn-sm btn-outline-secondary">View</a>
          <a href="{% url 'update' contact.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
          <a href="{% url 'delete' contact.id %}" class="btn btn-sm btn-outline-danger"
            onclick="return confirm('Are you sure you want to delete this contact?')">Delete</a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No contacts to display.</p>
{% endif %}
{% endblock %}